<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
<div class="wrapper fadeInDown">
  {% if signupBad %}
  <div class="alert alert-danger" role="alert">
    Invalid Email Address, try again.
  </div>
  {% else %}
  <div class="alert alert-success" role="alert">
    Signup Successful!
  </div>
  {% endif %}
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://i.ibb.co/ZxCbm3z/site-logo.png" id="icon" alt="User Icon"  style="width: 50px; height: 50px; margin-top: 30px; margin-bottom: 40px;"/>
    </div>

    <!-- Login Form -->
    <form method="post">
        <h3><b>Signup</b></h3>
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username">
      <input type="text" id="login" class="fadeIn second" name="email_signup" placeholder="Email">
      <input type="text" id="password" class="fadeIn third" name="password_signup" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Signup">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/login">Already Have an Account? Login</a>
    </div>

  </div>
</div>